/* inicio estilos stranger people*/

.parrafo1 {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5%;
    color: $color-textos;
}

.people {
    width: 100%;
    display: flex;
    justify-content: center;
    .carousel {
        max-width: 800px;
    }
}